<h1>{{message}}</h1>
<p>Welcome to your profile!</p>
<ol>
    <li>username: {{user_i.username}}</li>
    <li>firstname: {{user_i.firstName}}</li>
    <li>lastname: {{user_i.lastName}}</li>
    <li>profession: {{user_i.Profession}}</li>
    <li>bio: {{user_i.Bio}}</li>
</ol>

<p><a href='/logout'>logout</a></p>